
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

<h2>Products</h2>

<article class="col-2">
    <div class="bg">
        <div class="padding " style="margin-top:150px">

            <div>
                <a href="/Admin/Add"><input style="margin-left:200px" width="20" height="20" type="button" value="Add Product"></a><br />
               <br>
                 <a href="/Admin/Update" /> <br />
                <input style="margin-left:200px" width="20" height="20" type="button" value="Update Product" /><br />
                <br /> <a href="/Admin/Delete" />
                <input style="margin-left:200px" width="20" height="20" type="button" value="Delete Product" /><br />
                <br /> <a href="/User/Products" /><input style="margin-left:200px" width="20" height="20" type="button" value="View All Products" /><br />

            </div>

        </div>
    </div>
</article>



