<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#countrySelector").change(function () {
                var productId = $("#countrySelector").val();

                $("#citySelctor option").remove();


                $.getJSON("/Category/GetProducts?id=" + productId, function (data) {
                    $("#citySelctor").append('<option>-Select City-</option>');
                    $.each(data, function (i, item) {
                        $("#citySelctor").append('<option value=' + item.Id + '>' + item.Name + '</option>');
                        //alert('Id = ' + item.Id + " Name = " + item.Name);
                    });

                });

            });

        });
    </script>
</head>


<body>

   <!-- Navigation -->
    <nav class=" navbar navbar-form" role="navigation">
        <div class="container" text-align:center>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                <img style="margin-top:80px;margin-left:170px;align-self:center" src="~/images/h2.png" />
               
            </div>
        </div>
    </nav>
    
    
    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inverse">

                <a class="navbar-brand" href="~/Home/Index">Gold Palace</a>
            </div>
            <div>

                <ul class="nav navbar-nav">

                    <li class="active"><a href="~/Home/Index">Home</a></li>

                   
                    <li><a href="~/Home/About">About</a></li>

                    
                    <li><a href="~/Category/Products">Products</a></li>
                    <li><a href="~/Home/ContactUs">Contact Us</a></li>

                    <li><a href="~/User/Register" class="navbar-form navbar-right pull-right">Register</a></li>
                    <li><a href="~/User/Login" class="navbar-form navbar-right pull-right">Login</a></li>
                    <li><a href="~/Home/Search" class="navbar-form navbar-right pull-right">Search</a></li>
                </ul>
            </div>
           <!-- <form class="navbar-form navbar-left pull-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Product" />
                </div>
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>-->
        </nav>

      
</div>

    <!-- <p class="text-center" style="text-align:center">
        <font size="15" face=forte color=blue class="text-center" style="text-align:center">Gold Palace</font>
        <br /><br /><br /><br />
    </p>-->
    <div>
        @RenderBody();
    </div>


    <footer class="nav navbar-fixed-bottom">
        <p style="margin-top: 13px;font-family:Algerian;font-size:20px;font:#ffd800;color:gold">&copy;Gold Palace All rights reserved</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>