<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<br /><br /><br />
<center> <h1 style="font-family: Andalus; font-size: 45px; font: #00ff90;font:bolde">Products</h1></center>




<div class="row">
    <div align="center" class="col-lg-4">
        <a href="~/Category/Rings"> <h3 style="font-family:Andalus">Rings</h3>
            <img src="~/images/rings.jpg" height="400" width="300" />
        </a>
    </div>
    <div align="center" class="col-lg-4">
        <a href="~/Category/Bracelets">

            <h3 style="font-family:Andalus">Bracelets and Bangals</h3>

            <img src="~/images/bb.jpg" height="400" width="300" />
        </a>

    </div>
    <div align="center" class="col-lg-4">
        <a href="~/Category/Pendants" >

            <h3 style=" font-family:andalus">
            Pandents and Necklece</h3>

            <img src="~/images/pp.jpg" height="400" width="300" />
        </a>
    </div>
</div>





