<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

}


<div class="row" align="center">
    <div class="col-lg-3" align="left" style="margin:60px">
        <img src="~/images/acc.jpg" width="400" height="450" />
       
    </div>
    <div id="contact" class="col-lg-3" align="center">
        <center>   <h1 style="margin-top:80px">Contact Us</h1></center>

        <p style="margin-top:40px">
            <center>
                <span><b>Address:</b></span> 100-A Johar Town, Lahore,Pakistan
            </center>
        </p>
        <p>
            <center>
                <span><b>Telephone Number:</b></span> +923035523456
            </center>
        </p>
        <p>
            <center>
                <span><b>Email:</b></span> goldpalace@gmail.com
            </center>
        </p>
    </div>
    <div class="col-lg-3" align="right" style="margin:60px">
        
        <img src="~/images/ac.jpg" width="400" height="450" />
    </div>


</div>
